*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: none;
    list-style: border-box;
}
/* -------------header section----------- */
#header{
    font-family: montserrat;

}
nav{
    background: #0082e6;
    height: 100px;
    width: 100%;
}
nav a img{
    vertical-align: middle;
}
label.logo{
    color: white;
    font-size:35px;
    line-height:50px; 
    padding: 0 10px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size:  30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/*
section {
    background-image: url(pictures/main_bg.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
*/
/* ----------Main section---------*/
.main{
    background-image: url("pictures/main_bg.jpg");
    
    height: 200vh;
}


/* ----------Footer  section---------*/
footer{
    height: 10vh;
    background-color: red;
}